@model BusinessLayer.Models.LanguageModel
<br>
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Resources.txtAddLanguage;
}
        @if (!Request.IsAjaxRequest())
        {
            using (Ajax.BeginForm("Language", "Admin",
                new AjaxOptions {UpdateTargetId = "grid-list", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePagin"}))
            {

            }
        }

@if (ViewBag.Status)
{
    <div id="alert-area"></div>
}
<div id="grid-list" class="contentgrid" >
    <div  align="left" ><span class="label label-primary">@Resources.Resources.txtLanguages</span></div>
    <table  class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Resources.Resources.txtLanguage
                </th>
                <th>
                    @Resources.Resources.txtCurtailment
                </th>
                <th>
                    @Resources.Resources.txtDelete       
                </th>             
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SelectedLanguages)
            {
                <tr>
                    <td>
                        @item.Lang
                    </td>
                    <td>
                        @item.ShortName
                    </td>
                    <td>
                        @if (!Model.HasDependence(item.Lang))
                        {
                            <button class="btn btn-default btn-sm dropdown-toggle own-button" onclick="AreYouSure(name) " 
                                    name="@Url.Action("DeleteLanguage", "Admin", new {languageID = item.Id})" type="submit">@Resources.Resources.txtDelete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br/>
    @using (Html.BeginForm("AddLanguage", "Admin", FormMethod.Post))
    {
        <fieldset>
            
            @Html.Label(Resources.Resources.txtLanguage)

            @Html.DropDownListFor(model => model.Language, Model.LanguageItems,new {@class = "form-control"})
            
            <br/>
            <button onclick=" window.location.href = '@Url.Action("AddLanguage", "Admin")' " name="AddItem" type="submit" class="btn btn-default btn-sm dropdown-toggle own-button">@Resources.Resources.txtAdd</button>
        </fieldset>
    }
    @Html.Partial("_Paging",Model.SelectedLanguages)
    <button type="submit" class="btn btn-default btn-sm dropdown-toggle own-button" onclick="javascript: history.go(-1);">@Resources.Resources.txtBack</button>
</div>
<script src="~/Content/js/successMessage.js"></script>
<script>
    newAlert('success', '@ViewBag.Message');
</script>